.adobeChild{
    .h6Filters{
        font-size: 15px;
              color: #888;
              line-height: 3;   
    }
    .adobeChildRightTopText{
        margin-top: 17px;
    }
    padding-bottom: 10rem;
}